{% extends 'url_shortener/base.html' %}
{% block content %}
 <main class="container">
      <h3>Welcome to ShortURL!</h3>
	<p>Are you sick of posting URLs in emails only to have it break when sent causing the recipient to have to cut and paste it back together? Then you've come to the right place. By entering in a URL in the text field below, we will create a tiny URL that will not break in email postings and never expires.</p>

      <form action="#" method="POST">
      <div class="form-group">
	
	{% csrf_token %} 
       {{ form.non_field_errors }}
      <div class="fieldWrapper">
       {{ form.MainUrl.errors }}
	<label for="{{ form.subject.id_for_label }}"><strong>Enter long url that you want to short:</strong>
	</label>
         {{ form.MainUrl }}
       </div>
	</div>
	
	<div class="form-group">
       <div class="fieldWrapper">
         {{ form.CustomUrl.errors }}
	<label for="{{ form.message.id_for_label }}"><strong>Custom shorturl(optional):</strong>
	</label>
	<div>
          https://shorturl.com/	{{ form.CustomUrl }}
	<small class="text-muted">May contain letters, numbers and dashes</small>	
	</div> 
	</div>      
	<button type="submit" value="submit" class="btn btn-success">Submit</button>
	
      </form>
	<h3 id="example">A Example</h3>
	<p>ShortURL will take this URL:<br>

http://www.amazon.com/Kindle-Wireless-Reading-Display-Globally/dp/B003FSUDM4/ref=amb_link_353259562_2?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=center-10&pf_rd_r=11EYKTN682A79T370AM3&pf_rd_t=201&pf_rd_p=1270985982&pf_rd_i=B002Y27P3M<br>
 </p>And shorten into this:<br>
<p>http://shorturl.com/KindleWireless</p>
 
	<h3 id="termsofuse">Terms of use</h3>
	<p>ShortURL was created as a free service to make posting long URLs easier, and may only be used for actual URLs. Using it for spamming or illegal purposes is forbidden and any such use 
will result in the ShortURL being disabled and you may be reported to all ISPs involved and to the proper governmental agencies. 
This service is provided without warranty of any kind.</p>
</main>
{% endblock content %}
